<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="system.applicationHost" overrideModeDefault="Allow" type="System.Web.Configuration.SystemApplicationHostSection, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <system.applicationHost>
    <applicationPools>
      <add name="Clr4IntegratedAppPool" managedRuntimeVersion="v4.0" managedPipelineMode="Integrated" />
    </applicationPools>
    <sites>
      <site name="datagrid-mvc5" id="1">
        <application path="/" applicationPool="Clr4IntegratedAppPool">
          <virtualDirectory path="/" physicalPath="c:\wrk\devextreme-datagrid-mvc5\ASP.NET MVC5" />
        </application>
        <bindings>
          <binding protocol="http" bindingInformation="*:5000:localhost" />
        </bindings>
      </site>
    </sites>
  </system.applicationHost>
</configuration>
